[localfacts]
boot_space_check={{ boot_space_check }}
mount_info_boot_mount={{mount_info_boot.mount }}
mount_info_boot_total_gb={{ mount_info_boot.total_gb }}
mount_info_boot_available_gb={{mount_info_boot.available_gb }}
mount_info_boot_available_percent={{ mount_info_boot.available_percent }}