[localfacts]
mount_points_fstab_check={{ mount_points_fstab_check }}
mount_points_fstab_stdout={{ mount_points_fstab_stdout }}
mount_points_check={{ mount_points_check }}
mount_points_stdout={{ mount_points_stdout}}
