[localfacts]
top_processes={{ top_processes }}
top_processes_simple={{ top_processes_simple }}
top_non_root_processes={{ top_non_root_processes }}
top_non_root_processes_simple={{ top_non_root_processes_simple }}
