[localfacts]
root_space_check={{ root_space_check }}
mount_info_root_mount={{mount_info_root.mount }}
mount_info_root_total_gb={{ mount_info_root.total_gb }}
mount_info_root_available_gb={{mount_info_root.available_gb }}
mount_info_root_available_percent={{ mount_info_root.available_percent }}