[localfacts]
active_enabled_services={{ active_enabled_services }}
active_disabled_services={{ active_disabled_services }}
active_disabled_services_status={{ active_disabled_services_status }}
zabbix_service={{ zabbix_service }}
