************************ UpdateFix Informações ******************************
{{ lookup('pipe','date +%Y-%m-%d') }} {{ lookup('pipe','date +%H:%M:%S') }} {{ inventory_hostname }}

{{ yum_pre_update_info }}
